@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

.footer {
	padding: 25px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: rgba(245, 245, 246, 0.5);
	/* #f5f5f6 */
	gap: 10px 0;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.content a {
	padding: 0 10px;
	border-radius: 3px;
	font-family: "Space Grotesk", sans-serif;
	font-size: 12px;
	font-weight: 900;
	color: rgba(11, 42, 72, 0.8);
	background-color: rgba(230, 224, 219, 0.1);
	/* #f5f5f6 */
}

#year {
	position: relative;
}

.contacts {
	display: flex;
	/* justify-content: center; */
}

.contacts img {
	margin: 5px;
	width: 50px;
	height: 40px;
}

.sub {
	position: relative;
	top: 80px;
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: rgba(86, 111, 111, 1);
}