@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

:root {
	--image-size: 60px;
	--color-brand: rgba(11, 42, 72, 0.8);
}

body {
	color: var(--color-brand);
}

.footer {
	padding: 25px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 200px;
	background-color: rgba(245, 245, 246, 0.5);
	/* #f5f5f6 */
	gap: 10px 0;
}

.copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.copyright a {
	padding: 0 10px;
	border-radius: 3px;
	font-family: "Space Grotesk", sans-serif;
	font-size: 20px;
	font-weight: 700;
	background-color: rgba(230, 224, 219, 0.1);
	/* #f5f5f6 */
}

#year {
	position: relative;
}

.contacts {
	display: flex;
	/* justify-content: center; */
}

.contacts img {
	margin: 5px;
	width: var(--image-size);
	height: var(--image-size);
	object-fit: contain;
}

.sub {
	position: relative;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	font-weight: 400;
	/* color: rgba(86, 111, 111, 1); */
}