@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  
.banner {
  /* z-index:1000; */
  width: 99.55%;
  height: 45vh;
  border-radius: 10px;
  background-color: rgba(230, 202, 172, 0.45);
  margin: 3px;
  overflow: hidden;
}

.topic{
  padding: 45vh 50px;
}

.topic > a {
  padding: 20px 30px;
  margin-bottom: 45px;
  display:inline-block;
}

.topic a {
  animation: rolling 10s linear infinite;
}

@keyframes rolling {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

.topic a{
  position: absolute;
  top: 20vh;
  margin-left: 15%;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: rgba(20, 28, 44, 0.8);
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:4px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#DC143C;
}

@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}