body {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: #c5c9cf76;
  backdrop-filter: blur(20px);
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .logo {
  color: #dac5afa0;
  font-family: "Roboto", serif;
  font-weight: 500;
  float: left;
  font-size: 45px;
  font-weight: bold;
  margin: 14px 30px;
}

.top-bar .bar-links {
  display: flex;
  list-style-type: none;
  justify-content: right;
}

.top-bar .bar-links li {
  float: none;
}

.top-bar .bar-links li a {
  display: block;
  color: #5b636fc1;
  padding: 8px 20px; 
  text-decoration: none;
  height: center;
  line-height: 30px; 
  font-family: "Roboto", serif;
  font-weight: 800;
}

.top-bar .bar-links li a:hover {
  background-color: #dac5af;
}

.top-bar .bar-links .search{
  display: flex;
  text-decoration: none;
  list-style: none;
  padding: 14px 20px;
}