@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* top-bar */
.top-bar {
  position: fixed;
  overflow: visible;
  z-index: 1000;
  justify-content: space-between;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  padding: 5px 40px;
  border-radius: 5px;
  align-items: center;
  background: rgba(245, 245, 246, 0.8); /* #f5f5f6 */
  backdrop-filter: blur(40px);
  box-shadow: 0 2px 8px rgba(58, 71, 105, 0.1);
}
.logobox {
	flex: 80%;
}
.logo {
	border-radius: 10px;
  font-family: "Noto Sans", serif;
  font-size: 30px;
  font-weight: 750;
  text-decoration: none;
  color: rgba(11, 42, 72, 0.8);
    /* #0b2a48  */
  cursor: pointer;
}

/* links */
.linkbox {
  margin: 60px;
}
.bar-links {
  display: flex;
	justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.bar-links li a {
  align-items: center;
  display: flex;
  padding: 5px 20px; 
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgba(11, 42, 72, 0.8);
    /* #0b2a48 */
  font-weight: 700;
}

.bar-links li a:hover{
  background-color: rgba(218, 197, 175, 1); /* #dac5af */
}
