h1 h2 h3 {
  line-height: 5px;
}
.style-1 {
  color: #e6caac;
  font-size: 25px;
}
.style-2 {
  color: #0b2a48;
  font-size: 25px;
}
.style-3 {
  color: #4c6e63;
  font-size: 25px;
}
.style-4 {
  color: #4a4c54;
  font-size: 25px;
}