.style-1 {
  color: #434482;
}
.style-1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #4a4c54;
}
.style-2 {
  color: #e6caac;
}