/* dropwdown */
.dropdown {
  display: none;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.link:hover .dropdown {
  display: block;
  position: absolute;
}


/* arrow */
.arrow {
  background-size: auto;
  margin-left: 2px;
}

.link:hover .arrow{
  transform: rotate(90deg);
  transition: transform 0.45s ease-in;
}